body {
  background-color: rgb(179,214,113);
}

header {
  background-color: rgb(0,183,241);
  width: 100%;
  margin: 0;
}

h1 {
  font-size: 100px;
  text-indent: 5%;
  margin-bottom: 5px;
}

h3 {
  font-size: 50px;
  text-indent: 5%;
  margin-top: 5px;
}

h5 {
  text-align: center;
}

ul {
  width: 100%;
  padding-bottom: 40px;
}

li {
  padding-left: 10%;
  margin: 0;
  display: inline;
}

img {
  height: 350px;
  width: 20%;
}

img {
  height: 350px;
  width: 20%;
}

section {
  text-align: right;
}

button {
  width: 250px;
  height: 60px;
  align-self: center;
}

p {
  display: inline-block;
  padding: 15px;
}

div[id="button"] {
  text-align: right;
  width: 70%;
}
